//- andyshora.com
//- Base Layout
//-
//- 
//- @author Andy Shora

include ../_includes.jade
doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='og:image', content= post.og_image)
    meta(name="author" content="Andy Shora")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feed/")
    script(src='/js/vendor/prism.js')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet')
    title= post.title
    != css('/')
  //    ( ͡° ͜ʖ ͡°)       
  //                  
  //    Oh, hi there. Thanks for checking out the source!
  //    I built this site with roots.cx, it's an awesome way to generate static sites.
  //    Tweet me this Lenny face and we can be friends for life.
  body
    header(class='header')
      block header
    
    div(class='content')
      block content
    div
    block footer
      p= post.author
    div(class='overlay' onclick='app.onToggleClicked(\'nav\')' ontouchstart='app.onToggleClicked(\'nav\')')
    div(class='loading')
      div(class='spinner')
    //- script!= "window.dynamic_content = " + JSON.stringify(site)
    != js('/')