//- andyshora.com
//- Code Block Module
//-
//- 
//- @author Andy Shora

mixin large-title-block(start, middle, end, subtitle)
  div.large-title-block
    h1
      span(class="large-title-block__start xxlarge")= start
      span(class="large-title-block__middle xxlarge")= middle
      span(class="large-title-block__end xxlarge")= end
    p(class="large")= subtitle
