---
title: 'hello'
author: andyshora
date: 3/04/2015
og_image: http://placehod.it/600x200
_content: false
---

extends layouts/_base

block header
  +large-title-block('hi', ' I\'m ', 'Andy Shora.', 'I\'m a Front-end Web Developer based in London.', false)

block content
  section.section-gutter
    :markdown
      ##Some Articles I've Written
      - [The Myth of the Full-stack Developer](full-stack-developers.html)
      - [Promises in AngularJS, Explained as a Cartoon](promises-angularjs-explained-as-cartoon.html)
      - [Reasons not to serve responsive web apps within iframes](iframes-responsive-web-apps-tips.html)
      - [Unit and Integration Testing Best Practices in AngularJS](unit-testing-best-practices-angularjs.html)
      - [The Problem With Mobile Scroll Events](mobile-scroll-event-problems.html)
      - [Parallax Tutorial using CSS and jQuery](parallax.html)

  +gallery()
    ul
      li()
        .gallery__caption
          strong That's me
          p If you see me, say hello. I normally smile, promise.
        img(class='gallery__image' src='http://i.imgur.com/B0T7FM6.jpg')

  section.section-gutter.section-gutter--alt
    :markdown
      ##Some Things I've Made
      - [The City Awards](http://www.thecityawards.com)
      - [Stackey](http://www.stackey.com)
      - [Web Performance News](http://www.webperformancenews.com)
      - [Google Year in Search](http://www.google.com/2014)
      - [Google World Cup](http://www.google.com/worldcup)
      - [Wallop Slider Directive in AngularJS](wallop-slider-angularjs-css.html)
      - [Grunt YSlow - A Grunt Task to Measure and Grade Web Page Performance](grunt-yslow.html)
      - [Angular Image Crop - Cropping images the easy way using AngularJS](angular-image-cropper.html)
      

      I work with a bunch of ridiculously talented people at [R/GA London](http://www.rga.com), which has allowed me to work for awesome companies like Google, Nike and Apple in the last few years.

      I'm always working on side projects, but I'm pretty average so most of them end up in the 80% complete 'app graveyard', or open-sourced on my [GitHub](http://www.github.com/andyshora).

  +code-block('// Some things I like at the moment')
    code(class='language-javascript')
      |[
      |   { "thing": "React", "howMuchImLikingItRightNow": 0.8 },
      |   { "thing": "JavaScript", "howMuchImLikingItRightNow": 0.7 },
      |   { "thing": "AngularJS", "howMuchImLikingItRightNow": 0.6 },
      |   { "thing": "Sass", "howMuchImLikingItRightNow": 0.6 },
      |   { "thing": "WebPerf", "howMuchImLikingItRightNow": 0.9 },
      |   { "thing": "NodeJS", "howMuchImLikingItRightNow": 0.7 }
      |]
  section.section-gutter
    :markdown
      Debitis, praesentium distinctio quasi perferendis! Soluta, accusamus possimus sed, praesentium quos ea sunt beatae, esse provident deleniti quia consectetur modi! Ullam velit quod blanditiis recusandae, error, perferendis. Autem accusamus nulla illum delectus reiciendis eum enim, excepturi assumenda rerum!
  
  +quote-block('Adipisicing elit et illo quisquam quia dolorum et illo quisquam quia dolorum.','Some gal')
  section.section-gutter
    :markdown
      ##praesentium distinctio quasi
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati.
      
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati. Orem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati.
      ###Provident deleniti quia:
      - Lorem ipsum dolor
      - Autem accusamus nulla
      - Illum delectus reiciendis eum
  section.section-gutter
    :markdown
      ##Summary
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati qui, incidunt cupiditate eligendi sequi consequuntur, inventore ipsa at neque fugiat velit quibusdam iste quaerat aspernatur cupiditate eligendi sequi consequuntur, inventore ipsa at neque fugiat velit quibusdam iste quaerat aspernatur cupiditate eligendi sequi consequuntur, inventore ipsa at neque fugiat velit quibusdam iste quaerat aspernatur.

  +bio-block('Andy Shora', 'andyshora', 'https://pbs.twimg.com/profile_images/572092098691907585/skCkcVFS_400x400.jpeg')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolor neque recusandae harum atque, hic sunt expedita quia explicabo quasi necessitatibus ad.
