//- andyshora.com
//- homepage
//-
//- 
//- @author Andy Shora

extends layouts/_base

block header
  h1 andyshora.com
  p Subtitle goes here

block content
  section

  section
    ul
      li
        :markdown
          See the [Getting Started](/guide) page for instructions on how to create new content.