---
title: 'Andy Shora, Front-end Web Developer in London'
author: andyshora
date: 3/04/2015
og_image: http://placehod.it/600x200
_content: false
---

extends layouts/_base

block header
  +large-title-block('hi', ' I\'m ', 'Andy Shora.', 'I\'m a Front-end Web Developer based in London.', false)

block content
  section.section-gutter
    :markdown
      ##Some Articles I've Written

      I don't write enough, but I try to publish fun stuff about frontend web development as much as I can. Please follow me [@andyshora](https://twitter.com/andyshora) for my latest articles!

      - [The Myth of the Full-stack Developer](full-stack-developers.html "The Myth of the Full-stack Developer")
      - [Promises in AngularJS, Explained as a Cartoon](promises-angularjs-explained-as-cartoon.html "Promises in AngularJS, Explained as a Cartoon")
      - [Reasons not to serve responsive web apps within iframes](iframes-responsive-web-apps-tips.html "Reasons not to serve responsive web apps within iframes")
      - [Unit and Integration Testing Best Practices in AngularJS](unit-testing-best-practices-angularjs.html "Unit and Integration Testing Best Practices in AngularJS")
      - [The Problem With Mobile Scroll Events](mobile-scroll-event-problems.html "The Problem With Mobile Scroll Events")
      - [Parallax Tutorial using CSS and jQuery](parallax.html "Parallax Tutorial using CSS and jQuery")

  //- +gallery()
  //-   ul
  //-     li()
  //-       .gallery__caption
  //-         strong That's me
  //-         p If you see me, say hello. I normally smile, promise.
  //-       img(class='gallery__image' src='http://i.imgur.com/B0T7FM6.jpg')

  section.section-gutter.section-gutter--alt
    :markdown
      ##Some Things I've Made

      I work with a bunch of very talented people at [R/GA London](http://www.rga.com), which has allowed me to work for awesome companies like Google, Nike and Apple in the last few years:
      - [Google Year in Search](http://www.google.com/2014 "Google Year in Search")
      - [Google World Cup](http://www.google.com/worldcup "Google World Cup")

      I'm always working on side projects, but I'm pretty average so most of them end up in the 80% complete 'app graveyard', or open-sourced on my [GitHub](http://www.github.com/andyshora). Here are some of the ones I've actually managed to get out of the door:
      - [De Laddio Free Kicks](http://www.deladdiogames.com "De Laddio Free Kicks for iPhone") &larr; my first iPhone game!
      - [The City Awards](http://www.thecityawards.com "The City Awards")
      - [Stackey](http://www.stackey.com "Stackey - stack things that go together")
      - [Web Performance News](http://www.webperformancenews.com "Web Performance News")
      - [Grunt YSlow - A Grunt Task to Measure and Grade Web Page Performance](grunt-yslow.html "Grunt YSlow - A Grunt Task to Measure and Grade Web Page Performance")
      - [Angular Image Crop - Cropping images the easy way using AngularJS](angular-image-cropper.html "Angular Image Crop, Cropping images the easy way using AngularJS")
      - [Wallop Slider Directive in AngularJS](wallop-slider-angularjs-css.html "Wallop Slider Directive in AngularJS")

  +code-block('// Some things I like at the moment')
    code(class='language-javascript')
      |[
      |   { "thing": "React",       "howMuchImLikingItRightNow": 0.8 },
      |   { "thing": "JavaScript",  "howMuchImLikingItRightNow": 0.7 },
      |   { "thing": "AngularJS",   "howMuchImLikingItRightNow": 0.6 },
      |   { "thing": "Sass",        "howMuchImLikingItRightNow": 0.6 },
      |   { "thing": "WebPerf",     "howMuchImLikingItRightNow": 0.9 },
      |   { "thing": "NodeJS",      "howMuchImLikingItRightNow": 0.7 },
      |   { "thing": "D3",          "howMuchImLikingItRightNow": 0.5 }
      |]

  section.section-gutter
    :markdown
      ##Say Hello
      You can find me here:
      - [Twitter](http://twitter.com/andyshora)
      - [Github](http://github.com/andyshora)
      - [Linkedin](https://www.linkedin.com/pub/andy-shora/4a/753/937)

