---
title: 'Andy Shora, Front-end Web Developer in London'
description: "Hi, I'm Andy. I try to publish fun stuff about frontend web development as much as I can. Follow me @andyshora"
author: andyshora
date: 3/04/2015
image: http://i.imgur.com/fjqwiWi.png
type: website
page_class: home
url: 'http://www.andyshora.com'
_content: false
---

extends layouts/_base

block header
  script(src='/js/vendor/paper-full.min.js')
  script(type='text/paperscript' canvas='london-canvas' src='/js/animations.js')
  +large-title-block('Hi,', ' I\'m ', 'Andy Shora.', '', false)
    canvas(id='london-canvas' width='1000' height='200')
    p.home__subtitle I'm a Front-end Web Developer based in London.

block content
  section.section-gutter.home__intro
    :markdown
      ##Some Articles

      Here's a few things I've written. Please follow me [@andyshora](https://twitter.com/andyshora) for my latest articles!
      
      - [Slagging Off JavaScript Frameworks](slagging-off-javascript-frameworks.html "Slagging Off JavaScript Frameworks")<span class="post-tag">JavaScript</span><span class="post-tag">opinion</span><span class="tweets-count"></span>
      - [The Easy Paper.js Tutorial](easy-paper-js-tutorial.html "The Easy Paper.js Tutorial")<span class="post-tag">Canvas</span><span class="post-tag">Animation</span><span class="tweets-count"></span>
      - [Building a Static Website with Roots](building-static-site-with-roots.html "Building a Static Website with Roots")<span class="post-tag">SSG</span><span class="tweets-count"></span>
      - [The Myth of the Full-stack Developer](full-stack-developers.html "The Myth of the Full-stack Developer")<span class="post-tag">opinion</span><span class="tweets-count"></span>
      - [Promises in AngularJS, Explained as a Cartoon](promises-angularjs-explained-as-cartoon.html "Promises in AngularJS, Explained as a Cartoon")<span class="post-tag">AngularJS</span><span class="tweets-count"></span>
      - [Reasons not to serve responsive web apps within iframes](iframes-responsive-web-apps-tips.html "Reasons not to serve responsive web apps within iframes")<span class="post-tag">responsive</span><span class="post-tag">webperf</span><span class="tweets-count"></span>
      - [Unit and Integration Testing Best Practices in AngularJS](unit-testing-best-practices-angularjs.html "Unit and Integration Testing Best Practices in AngularJS")<span class="post-tag">AngularJS</span><span class="post-tag">testing</span><span class="tweets-count"></span>
      - [The Problem With Mobile Scroll Events](mobile-scroll-event-problems.html "The Problem With Mobile Scroll Events")<span class="post-tag">browsers</span><span class="post-tag">mobile</span><span class="post-tag">webperf</span><span class="tweets-count"></span>
      - [Parallax Tutorial using CSS and jQuery](parallax.html "Parallax Tutorial using CSS and jQuery")<span class="post-tag">parallax</span><span class="post-tag">jQuery</span><span class="post-tag">css</span><span class="tweets-count"></span>
      - [Sizing Fluid Image Containers with a Little CSS Padding Hack](css-image-container-padding-hack.html "Sizing Fluid Image Containers with a Little CSS Padding Hack")<span class="post-tag">css</span><span class="post-tag">responsive</span><span class="tweets-count"></span>
      - [How to add the iPhone Simulator to the Launchpad in OSX](add-ios-simulator-to-launchpad-osx.html "How to add the iPhone Simulator to the Launchpad in OSX")<span class="post-tag">tip</span><span class="tweets-count"></span>

  //- +gallery()
  //-   ul
  //-     li()
  //-       .gallery__caption
  //-         strong That's me
  //-         p If you see me, say hello. I normally smile, promise.
  //-       img(class='gallery__image' src='http://i.imgur.com/B0T7FM6.jpg')
  +code-block('// here\'s a few things I like at the moment...')
    code(class='language-javascript')
      |[
      |   { "thing": "React",       "howMuchImLikingItRightNow": 0.8 },
      |   { "thing": "JavaScript",  "howMuchImLikingItRightNow": 0.7 },
      |   { "thing": "AngularJS",   "howMuchImLikingItRightNow": 0.6 },
      |   { "thing": "Sass",        "howMuchImLikingItRightNow": 0.6 },
      |   { "thing": "WebPerf",     "howMuchImLikingItRightNow": 0.9 },
      |   { "thing": "NodeJS",      "howMuchImLikingItRightNow": 0.7 },
      |   { "thing": "D3",          "howMuchImLikingItRightNow": 0.5 }
      |]

  section.section-gutter
    :markdown
      ##Some Web Things

      I work with a bunch of very talented people at [R/GA London](http://www.rga.com), which has allowed me to work for awesome companies like Google, Nike and Apple in the last few years:
      - [Google Year in Search](http://www.google.com/2014 "Google Year in Search")
      - [Google World Cup](http://www.google.com/worldcup "Google World Cup")

      I'm always working on side projects, but I'm pretty average so most of them end up in the 80% complete 'app graveyard', or open-sourced on my [GitHub](http://www.github.com/andyshora). Here are some of the ones I've actually managed to get out of the door:
      - [De Laddio Free Kicks](http://www.deladdiogames.com "De Laddio Free Kicks for iPhone") &larr; my first iPhone game!
      - [The City Awards](http://www.thecityawards.com "The City Awards")
      - [Web Performance News](http://www.webperformancenews.com "Web Performance News")
      - [Grunt YSlow - A Grunt Task to Measure and Grade Web Page Performance](grunt-yslow.html "Grunt YSlow - A Grunt Task to Measure and Grade Web Page Performance")
      - [Angular Image Crop - Cropping images the easy way using AngularJS](angular-image-cropper.html "Angular Image Crop, Cropping images the easy way using AngularJS")
      - [Wallop Slider Directive in AngularJS](wallop-slider-angularjs-css.html "Wallop Slider Directive in AngularJS")

  
  section.section-gutter
    :markdown
      ##Say Hello
      You can find me here:
      - [Twitter](http://twitter.com/andyshora)
      - [GitHub](http://github.com/andyshora)
      - [Linkedin](https://www.linkedin.com/pub/andy-shora/4a/753/937)

