.code-block {
  margin: 20px 0;

  > pre {
    text-align: center;

    > code {
      padding: 50px 20px 30px;
      width: 100%;
      max-width: 1000px;
      text-align: left;
      margin: 0 auto;
      background: #FCF9F7;
    }
  }


}
.code-block__caption {
  padding: 0 20px;
  margin: 0;
  display: block;
  width: 100%;
  text-align: right;
  background: #f5f2f0;
  font-style: italic;

  > span {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 30px;
    width: 100%;
    display: block;
    background: #FCF9F7;
  }
}