.code-block {
  margin: 20px 0;

  > pre {
    text-align: center;

    > code {
      padding: 20px 20px;
      width: 100%;
      max-width: 1000px;
      text-align: left;
      margin: 0 auto;
    }
  }


}
.code-block__caption {
  padding: 10px 20px;
  margin: 0;
  display: block;
  width: 100%;
  text-align: right;
  background: #FCF9F7;
  border-bottom: 1px solid rgb(230, 230, 230);
  font-style: italic;

  > span {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    display: block;

  }
}