.code-block {
  margin: 20px 0;

  > pre {
    text-align: center;
    background: $n3;
    
    overflow: auto;
    

    > code {
      padding: 30px 40px 30px;
      width: 100%;
      min-width: 600px;
      max-width: 1000px;
      text-align: left;
      margin: 0 auto;
      background: white;
      font-size: .8em;

      @include from-width($breakpoint-medium) {
        font-size: 1em;
      }
    }
  }


}
.code-block__caption {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  text-align: left;
  background: $n3;
  font-style: italic;

  @include from-width($breakpoint-large) {
    padding: 50px 20px 0 20px;
  }

  > span {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 40px 0;
    width: 100%;
    display: block;
    background: white;
  }
}