.gallery {
  background: white;
  padding: 30px 0;

  @include from-width($breakpoint-medium) {
    padding: 80px 0;
  }
}
.gallery__content {
  padding: 0 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  ul {
    > li {
      list-style-type: none;
      position: relative;
      display: inline-block;
      margin: 0;
      width: 100%;
      text-align: right;

      /* &:after {
        content: attr(data-caption);
        display: inline-block;
        position: absolute;
        font-size: 12px;
        font-style: italic;
        color: $b1;
        bottom: 20px;
        right: 10px;

        @include from-width($breakpoint-medium) {
          bottom: 40px;
          right: 20px;
        }
      } */

      
    }
  }
}
.gallery__image {
  
  display: block;
  vertical-align: top;
  width: 100%;
  margin: 20px 0;

  @include from-width($breakpoint-small) {
    width: 80%;
  }
  

  @include from-width($breakpoint-medium) {
    display: inline-block;
    width: 60%;
    margin: 0;
  }
}
.gallery__caption {
  display: block;
  vertical-align: top;
  padding: 0 10% 0 0;
  text-align: left;

  @include from-width($breakpoint-medium) {
    display: inline-block;
    width: 40%;
  }

  > strong {
    padding-top: 0;

    &:after {
      content: ' ↓';
    }

    @include from-width($breakpoint-medium) {
      &:after {
        content: ' →';
      }
    }
  }

  > p {
    font-style: italic;
    padding-top: .5em;
  }
  
}