.large-title-block {
  padding: 80px 20px 66px;
  background: white;
  text-align: center;
  background: $c1;
  position: relative;
  overflow: hidden;

  .flower {
    opacity: .2;

    @include from-width($breakpoint-medium) {
      opacity: .8;
    }
  }

  @include from-width($breakpoint-medium) {
    padding: 300px 30px 66px;
  }

  > h1 {
    color: white;
    padding: .3em 10px;
    position: relative;
    z-index: 2;

    @include from-width($breakpoint-medium) {
      padding: .3em 50px;
    }

    &:after {
      content: '';
      display: none;
      height: 1px;
      background: black;
      width: 20%;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -10%;
    }

    @include from-width($breakpoint-medium) {
      display: block;
      
    }

    > span {
      // font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    }
  }

  > p {
    margin: 0 auto;
    padding: 1em 10px;

    @include from-width($breakpoint-medium) {
      padding: 1em 50px;
    }
    color: $b1;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-style: italic;
    width: 80%;

    @include from-width($breakpoint-medium) {
      width: 100%;
    }

    // &:before, &:after {
    //   content: '―';
    //   color: white;
    //   padding: 0 10px;
    //   display: none;
    // }

    @include from-width($breakpoint-medium) {
      &:before, &:after {
        display: inline;
      }
    }
  }
}
.large-title-block__start {
  color: $c3;
}
.large-title-block__middle {
  color: $c4;
  padding: 0 10px;
}
.large-title-block__end {
  color: $c3;
}
.large-title-block__back {
  color: $c4;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
