.large-title-block {
  padding: 150px 20px 120px;
  background: white;
  text-align: center;
  background: $c1;
  position: relative;
  overflow: hidden;

  .flower {
    opacity: .4;

    @include from-width($breakpoint-medium) {
      opacity: .8;
    }
  }

  @include from-width($breakpoint-medium) {
    padding: 150px 30px 120px;
  }

  > h1 {
    color: white;
    padding: .3em 10px;
    position: relative;
    z-index: 2;
    width: 90%;
    margin: 0 auto;

    @include from-width($breakpoint-medium) {
      padding: 0 50px 0;
    }

    /* &:after {
      content: '';
      display: none;
      height: 1px;
      background: black;
      width: 20%;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -10%;
    } */

    

    @include from-width($breakpoint-medium) {
      display: block;

      &:before, &:after {
        display: block;
      }
    }

    
  }

  > p {
    margin: -15px auto 0;
    padding: 0 10px 1em;
    position: relative;
    z-index: 2;

    @include from-width($breakpoint-medium) {
      padding: 0 50px 1em;
      width: 90%;
    }
    color: $b1;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-style: italic;
    width: 80%;

    // &:before, &:after {
    //   content: '―';
    //   color: white;
    //   padding: 0 10px;
    //   display: none;
    // }

    @include from-width($breakpoint-medium) {
      &:before, &:after {
        display: inline;
      }
    }
  }

  > .home__subtitle {
    margin: -15px auto 0;
    padding: 0 10px 1em;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    color: $b1;
    width: 80%;
    font-size: 18px;
    font-family: 'Lato';
    font-style: normal;

    @include from-width($breakpoint-medium) {
      padding: 0 50px 1em;
      width: 90%;
    }
  }
}

.large-title-block__start {
  color: $c3;
}
.large-title-block__middle {
  color: $b1;
  padding: 0 .1em;
}
.large-title-block__end {
  color: $c3;
}
.large-title-block__back {
  color: $c4;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.andy {
  position: absolute;
  width: 120px;
  height: 120px;
  top: -30px;
  right: 0;

  &:before {
    width: 300px;
    height: 300px;
    top: -160px;
    right: -150px;
    background: black;
    display: block;
    content: '';
    position: absolute;
    @include prefix(transform, rotate(-45deg));
  }

  @include from-width($breakpoint-medium) {
    width: 180px;
    height: 180px;

    &:before {
      width: 380px;
      height: 380px;
      top: -180px;
      right: -190px;
    }
  }
}
.andy__svg {
  width: 60%;
  margin-top: 20%;
  position: relative;

  svg {
    fill: blue;
  }
}
