.split-code-block {
  margin: 20px 0;

  > pre {
    text-align: center;
    background: $n3;
    overflow: auto;

    

    > code {
      padding: 30px 40px 30px;
      width: 100%;
      min-width: 600px;
      max-width: 1000px;
      text-align: left;
      margin: 0 auto;
      background: white;
      font-size: .8em;
      position: relative;

      &:first-child {
        
          background: rgb(245, 233, 233);
          background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 10px);
          border-bottom: 2px solid #91E891;
        
      }

      &:after {
        content: attr(data-label);
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 10px;
        padding: 10px 15px;
        font-size: 12px;
        border: 1px solid rgb(246, 246, 246);
        color: black;
      }


      @include from-width($breakpoint-medium) {
        font-size: 1em;
      }
    }
  }


}
.split-code-block__caption {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  text-align: left;
  background: $n3;
  font-style: italic;

  @include from-width($breakpoint-large) {
    padding: 50px 20px 0;
  }

  > span {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 40px 20px;
    width: 100%;
    display: block;
    background: white;
  }
}