/**
 *
 * R/GA Styleguide Template
 * Breakpoints
 *
 * R/GA 2015
 * @author Andy Shora
 *
**/

$breakpoint-smallest: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-largest: 1440px;