/**
 *
 * Roots Blog
 * Header
 *
 * R/GA 2015
 * @author Andy Shora
 *
**/
#london-canvas {
  background: #e74c3c;
  // margin: 100px auto 0;
  position: absolute;
  z-index: 2;
  bottom: -10px;
  left: 50%;
  margin: 0 0 0 -500px;
}