/**
 *
 * R/GA Styleguide Template
 * Layout
 *
 * R/GA 2015
 * @author Andy Shora
 *
**/

$navWidth: 280px;
$navTransitionDuration: .2s;

$c1: rgb(231, 76, 60);
$c2: rgb(192, 57, 43);
$c3: rgb(255, 249, 248);
$c4: rgb(255, 209, 208);

$b1: rgb(48, 48, 48);
$b2: rgb(65, 65, 65);

$g1: #858585;
$g2: #767676;

$w1: #fafafa;

// $n1: #FCF9F7;
// $n2: #f5f2f0;

$n1: #FFF1F1;
$n2: #FAE1DE;
$n3: #F9F5F5;

* {
  @include prefix(box-sizing, border-box);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

html, body {
  min-width: 320px;
  background: white;
  color: rgb(10,10,10);

  &.nav--open {
    height: 100%;
    overflow: hidden;
  }
}
.content {
  vertical-align: top;
  overflow: auto;
  padding: 40px 0 0;
  background: white;
  min-height: 1000px;
  position: relative;
}
.section-gutter {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
  
  @include from-width($breakpoint-medium) {
    padding: 50px 20% 50px 20px;

    &.section-gutter--alt {
      padding: 60px 20px 60px 20%;
    }

    &.section-gutter--full {
      padding: 60px 20px 60px;
    }
  }

  > h2 {
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    color: $b2;

    @include from-width($breakpoint-medium) {
      width: 40%;
    }
  }
}
.header {
  min-height: 50px;
  background: $g2;

  > h1 {
    padding: 70px 60px;
  }
}
footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  // background: $b1;

  > p {
    margin: 0 auto;
    padding: 40px 30px 30px 30px;
    max-width: 1000px;
    font-size: 10px;
    display: block;
  }
}

.relative {
  position: relative;
}

