//- andyshora.com
//- tweet Counter Module
//-
//- 
//- @author Andy Shora

mixin tweet-counter(url)
  a.tweet-counter(data-via='andyshora' dataurl= url)
    span.tweet-counter__num -
    span.tweet-counter__label tweets
    span.tweet-counter__tweet +1
