//- andyshora.com
//- tweet Counter Module
//-
//- 
//- @author Andy Shora

mixin tweet-counter()
  div.tweet-counter
    span.tweet-counter__num 128
    span.tweet-counter__label tweets
    a.tweet-counter__tweet +1
