---
title: 'hello world'
author: andyshora
date: 3/04/2015
og_image: http://placehod.it/600x200
_content: false
---

extends ../views/layouts/_base

block header
  +large-title-block('Something', ' & ', 'Something else longer', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, dolores.', true)

block content
  section.section-gutter
    :markdown
      ##consectetur adipisicing elit
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati qui, incidunt cupiditate eligendi sequi consequuntur, inventore ipsa at neque fugiat velit quibusdam iste quaerat aspernatur.

      Culpa perferendis repellat eligendi rem temporibus corrupti iste, aspernatur ab, unde amet velit quisquam? Quae ipsa perferendis, consequatur maiores iusto eos quaerat sunt!

  +quote-block('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quisquam quia, dolorum.','Some dude')

  section.section-gutter
    :markdown
      ##Rem ipsum dolor sit amet
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati qui, incidunt cupiditate eligendi sequi consequuntur, inventore ipsa at neque fugiat velit quibusdam iste quaerat aspernatur.

      Pariatur voluptatum a accusantium sit necessitatibus ad? Officiis dolor neque, saepe dignissimos id, enim et labore quaerat cumque nostrum corrupti reprehenderit consectetur quod voluptatem. Eveniet error modi deleniti non, saepe commodi illum magnam quis omnis suscipit.

      Debitis, praesentium distinctio quasi perferendis! Soluta, accusamus possimus sed, praesentium quos ea sunt beatae, esse provident deleniti quia consectetur modi! Ullam velit quod blanditiis recusandae, error, perferendis. Autem accusamus nulla illum delectus reiciendis eum enim, excepturi assumenda rerum!

  +code-block('Lorem ipsum dolor sit amet.')
    code(class='language-javascript')
      |// this is a comment
      |var a = 2;
      |for (var i in arr) {
      |   arr[i]
      |}
  section.section-gutter
    :markdown
      Debitis, praesentium distinctio quasi perferendis! Soluta, accusamus possimus sed, praesentium quos ea sunt beatae, esse provident deleniti quia consectetur modi! Ullam velit quod blanditiis recusandae, error, perferendis. Autem accusamus nulla illum delectus reiciendis eum enim, excepturi assumenda rerum!
      ___
      ###Provident deleniti quia:
      - Lorem ipsum dolor
      - Autem accusamus nulla
      - Illum delectus reiciendis eum
  +quote-block('Adipisicing elit et illo quisquam quia dolorum.','Some gal')
  section.section-gutter
    :markdown
      ##tl;dr
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga maxime, amet obcaecati qui, incidunt cupiditate eligendi sequi consequuntur, inventore ipsa at neque fugiat velit quibusdam iste quaerat aspernatur cupiditate eligendi sequi consequuntur, inventore ipsa at neque fugiat velit quibusdam iste quaerat aspernatur cupiditate eligendi sequi consequuntur, inventore ipsa at neque fugiat velit quibusdam iste quaerat aspernatur.

  +bio-block('Andy Shora', 'andyshora', 'https://pbs.twimg.com/profile_images/572092098691907585/skCkcVFS_400x400.jpeg')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolor neque recusandae harum atque, hic sunt expedita quia explicabo quasi necessitatibus ad.
