//- andyshora.com
//- Code Block Module
//-
//- 
//- @author Andy Shora

mixin code-block(caption)
  div.code-block
    pre
      if block
        block
    div.code-block__caption
      span= caption
