//- andyshora.com
//- Quote Block Module
//-
//- 
//- @author Andy Shora

mixin quote-block(quote, author)
  div.quote-block
    .quote-block__text
      blockquote(class='xlarge')= quote
      footer
        cite
          p= author